<div class="container">
  <div class="actions">
    <button (click)="showEditModal()" class="action"><fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button (click)="archiveNote()" class="action"><fa-icon [icon]="faArchive"></fa-icon>
    </button>
    <button (click)="deleteNote()" class="action warning"><fa-icon [icon]="faMinusCircle"></fa-icon>
    </button>
  </div>
  <div class="note">
    <p>{{note.title}}</p>
    <input [appIsChecked]="note.isDone ? note.isDone:false"  type="checkbox" (input)="changeNoteStatus($event)" >
  </div>
</div>


<section #modal class="modal-container" >
  <div class="modal">
    <div class="input-container">
      <label for="titleInput">Title: </label>
      <input #titleInput placeholder="Title" id="titleInput" type="text" [value]="note.title">
    </div>
    <div class="input-container">
      <label for="contentInput">Content: </label>
      <textarea #contentInput placeholder="Content" id="contentInput" type="text" [value]="note.content"></textarea>
    </div>
    <div class="action">
      <button (click)="closeEditModal()" >Cancel</button>

      <button (click)="updateNote(titleInput,contentInput)" >Update</button>
    </div>
  </div>
</section>
