.container{
  margin-top: 4px;

  .actions{
    display: flex;
    justify-content: end;
    margin-bottom: 3px;
    .action{
      margin-left: 2px;
      line-height: 1px;
      color: white !important;
      padding: 5px;
      background-color: var(--primary-color);
      border: none;
      border-radius: 50%;
      transition: transform 0.2s ease-in;
      cursor: pointer;
    }
    &
    .warning{
      background-color: var(--warning-color);
    }
    :hover{
      transform: scale(1.1);
    }



  }
  .note{
    background-color: #C4C4C4;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    p{
      line-height: 18px;
    }
    input{
      height: 18px;
      width: 18px;
      border-radius: 4px;
    }

  }
}


.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events:none;

  .modal {
    width: 60%;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input-container {
      label {
        width: 100%
      }

      input {
        width: 100%;
        padding: 8px;
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        margin-top: 6px;
      }
      textarea{
        width: 100%;
        padding: 8px;
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        resize: none;
      }

      .warning {
        border: 1px solid var(--warning-color);
      }
    }

    .action {
      display: flex;
      justify-content: end;

      button {
        background-color: var(--primary-color);
        color: white;
        padding: 8px;
        border: 1px solid white;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.show{
  opacity: 1;
  pointer-events: auto;
}
