<section id="side-nav">
<div class="main-navigation">
  <ul class="nav">
    <li class="nav-item">
      <a [routerLink]="['/']" [queryParams]="{category: ''}" >Notes</a>
    </li>
    <li *ngFor="let category of categories | async" class="nav-item">
      <a [routerLink]="['/']" [queryParams]="{category:category | lowercase}">{{category}}</a>
    </li>

  </ul>
</div>
  <div class="footer">
    <div class="actions">
      <button><img src="assets/plus-321.png"/></button>
    </div>
  </div>
</section>
