<section id="side-nav">
<div class="main-navigation">
  <ul class="nav">
    <li class="nav-item">
      <a [routerLink]="['/']" [queryParams]="{category: ''}" >Notes</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/']" [queryParams]="{category: 'archive'}" >Archive</a>
    </li>
    <li *ngFor="let category of categories | async" class="nav-item">
      <a [routerLink]="['/']" [queryParams]="{category:category | lowercase}">{{category}}</a>
    </li>

  </ul>
</div>
  <div class="footer">
    <div class="actions">
      <button (click)="showModal()" ><img src="assets/plus-321.png"/></button>
    </div>
  </div>
</section>

<section #modal class="modal-container" >
  <div class="modal">
    <div class="input-container">
      <label for="categoryinput">Category name: </label>
      <input  #categoryInput placeholder="category" id="categoryinput" type="text">
    </div>
    <div class="action">
      <button (click)="hideModal()">Cancel</button>

      <button (click)="addCategory(categoryInput)">Add category</button>
    </div>
  </div>
</section>
